body {
    background-color: #f2e8cf;
    color: #2b2118;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    margin: 0;
    padding: 60px;
    line-height: 1.75;
}

div {
    background-color: #e6dab7;
    padding: 45px;
    margin-bottom: 45px;
    border: 1px solid #bcac87;
    border-style: solid;
    text-shadow: 0.5px 0.5px 0px #f2e8cf;
}

h1 {
    color: #1a1510;
    text-align: center;
    letter-spacing: 6px;
    font-size: 54px;
    text-transform: uppercase;
    border-bottom: 6px double #bcac87;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

h2, h3 {
    color: #4a3728;
    border-bottom: 2px solid #bcac87;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-size: 28px;
}

p {
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.2px;
}

a {
    color: #8c462e;
    text-decoration: none;
    border-bottom: 1px dashed #8c462e;
    font-weight: bold;
}

a:hover {
    color: #1a1510;
    border-bottom: 1px solid #1a1510;
    background-color: #f2e8cf;
}

img {
    border: 8px solid #bcac87;
    padding: 2px;
    background-color: #f2e8cf;
}

table img {
    border: 5px solid #bcac87;
}

td {
    padding: 20px;
}

ul, ol {
    background-color: #dccfac;
    padding: 30px 60px;
    border: 1px solid #bcac87;
}

li {
    margin-bottom: 15px;
    font-size: 19px;
}

small {
    font-size: 15px;
    color: #5d4b3c;
    letter-spacing: 0.8px;
    font-style: italic;
}

hr {
    border: 0;
    height: 1px;
    background-color: #bcac87;
    margin: 40px 0;
}